READ the readme.txt in this folder if you haven't.

This is the config file where hosts, databases, and properties are added which will be managed for server restarts.

Each database to be managed requires 2 lines.
A line is:

hostname.database identifier of some sort.property name=property value

Each of the required properties, sid and listener must be specified, and must be spelled correctly.

Don't commit without making sure that you added both lines carefully. 

Don't add comments that START with the hostname. You can add comments that start with anything else.

Thanks!

odblt08.1.sid=fdmigrated
odblt08.1.listener=listener

odblt08.2.sid=FDSLAVES01
odblt08.2.listener=listener

odblt08.3.sid=fm08
odblt08.3.listener=listener

odblt08.4.sid=odilt02
odblt08.4.listener=listener

odblt06.2.sid=fdt11
odblt06.2.listener=LISTENER_FDT11

odblt06.3.sid=fdt10
odblt06.3.listener=LISTENER_FDT10

odblt05.1.sid=dbt01
odblt05.1.listener=LISTENER

odblt05.2.sid=fdt08
odblt05.2.listener=LISTENER_FDT08

odblt05.3.sid=dbt02
odblt05.3.listener=LISTENER_DBT02

odblt01.1.sid=fdt03
odblt01.1.listener=listener

odblt01.2.sid=fdt06
odblt01.2.listener=LISTENTER_FDT06

odblt01.3.sid=wld01
odblt01.3.listener=LISTENER_WLD01



odblt03.1.sid=soat06
odblt03.1.listener=listener_SOAT06

odblt03.2.sid=fdt02
odblt03.2.listener=listener

odblt03.3.sid=fdt07
odblt03.3.listener=listener_FDT07




odblt02.1.sid=fdt01
odblt02.1.listener=listener

odblt02.2.sid=oet01
odblt02.2.listener=listener_oelt01

odblt02.3.sid=soat01
odblt02.3.listener=listener_soat01

odblt02.4.sid=soat05
odblt02.4.listener=listener_soat05

odblt02.5.sid=fdt05
odblt02.5.listener=listner_FDT05



obilt02.1.sid=obt02
obilt02.1.listener=listener



odblt07.1.sid=fm07
odblt07.1.listener=LISTENER


odblt07.2.sid=mft01
odblt07.2.listener=LISTENER

odblt07.3.sid=apx01
odblt07.3.listener=LISTENER